{% extends "base.html" %}

{% block content %}
    <p>Dati kas atrodas tabulā</p>

    <table id="data" class="table table-striped">
        <thead>
        <tr>
            {% for i in range(field_names |length) %}
                <th>{{ field_names[i] }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for sd in data %}
            <tr>
                {% for i in range(sd |length) %}
                    <td>{{ sd[i] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}